.type-box {
  padding: 8px 16px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 6px #000000;
  border-radius: 24px;
}

.type-container {
  border-radius: 8px;
  background-color: white;
  padding: 4px 8px;
}

.type-header {
  margin-bottom: 4px;
}

.type-list {
  display: flex;
  justify-content: space-evenly;
}

.type-box.bug {
  background-color: #a9b91c;
}

.type-box.dark {
  background-color: #3b2c22;
}

.type-box.dragon {
  background-color: #604ac3;
}

.type-box.electric {
  background-color: #f5b405;
}

.type-box.fairy {
  background-color: #8a9be7;
}

.type-box.fighting {
  background-color: #80331b;
}

.type-box.fire {
  background-color: #e43602;
}

.type-box.flying {
  background-color: #5d73d4;
}

.type-box.ghost {
  background-color: #48488f;
}

.type-box.ground {
  background-color: #c5a64a;
}

.type-box.ice {
  background-color: #6dd3f5;
}

.type-box.normal {
  background-color: #c6c0b8;
}

.type-box.grass {
  background-color: #6cbd2f;
}

.type-box.poison {
  background-color: #893f8a;
}

.type-box.psychic {
  background-color: #d22f6a;
}

.type-box.rock {
  background-color: #9e863d;
}

.type-box.steel {
  background-color: #838390;
}

.type-box.water {
  background-color: #0c68c4;
}